.vacansy {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  height: 100%;
  cursor: pointer;
}

.vacansy__img {
  max-height: 44px;
  display: block;
  margin-bottom: 12px;
}

.vacancy__company {
  font-size: 20px;
  margin-bottom: 8px;
}

.vacancy__title {
  display: inline-block;
  font-weight: 400;
  margin-bottom: 8px;
  background-color: #eaecff;
  border-radius: 4px;
  padding: 3px 5px;

}

.vacancy__field {
  color: #ccc;
}